{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Complete Profile</title>
    <link rel="stylesheet" href="{% static 'css/accounts/complete_profile.css' %}" />
</head>

<body>
    {% if messages %} {% for message in messages %}

    <div class="message {{ message.tags }}">{{ message }}</div>

    {% endfor %} {% endif %}

    <div class="profile-container">
        <h2>Complete Your Profile</h2>

        <p>Please complete your information before continuing.</p>

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="profile-preview">
                {% if request.user.studentprofile.profile_picture %}
                <img src="{{ request.user.studentprofile.profile_picture.url }}" alt="Profile Picture" class="clickable-avatar" data-profile-id="{{ request.user.id }}" /> {% else %}
                <img src="{% static 'images/default-avatar.png' %}" alt="Default Picture" class="clickable-avatar" data-profile-id="{{ request.user.id }}" /> {% endif %}
            </div>

            <div class="form-group">
                <label>Profile Picture</label>

                <input type="file" name="profile_picture" />
            </div>

            <div class="form-group">
                <label>Full Name</label>

                <input type="text" name="full_name" placeholder="Enter your full name" required />
            </div>

            <div class="form-group">
                <label>Phone Number</label>

                <input type="text" name="number" placeholder="Enter your phone number" required />
            </div>

            <div class="form-group">
                <label>Program</label>
                <input type="text" name="program" placeholder="e.g Computer Science" required />
            </div>

            <div class="form-group">
                <label>Year</label>
                <input type="number" name="year" placeholder="e.g 2026" required />
            </div>

            <button type="submit" class="submit-btn">Save Profile</button>
        </form>
    </div>
</body>

</html>