{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="{% static 'accounts/css/login.css' %}">
</head>

<body>

    <form method="POST" class="login">

        {% csrf_token %}

        {% if messages %}
        {% for message in messages %}
        <p class="message {{message.tags}}">{{ message }}</p>
         {% endfor %}
        {% endif %}
             
              <svg width="360" height="140" viewBox="0 0 360 140" xmlns="http://www.w3.org/2000/svg">

    <!-- Main Text -->
    <text x="50%" y="55%"
        text-anchor="middle"
        font-family="Arial, Helvetica, sans-serif"
        font-size="48"
        font-weight="800"
        fill="#0D0D4D">
        NIIT
    </text>

    <!-- Subtitle -->
    <text x="50%" y="80%"
        text-anchor="middle"
        font-family="Arial, Helvetica, sans-serif"
        font-size="18"
        font-weight="600"
        letter-spacing="3"
        fill="#0D0D4D">
        CONNECT
    </text>

</svg>

        <!-- <div class="title1">
            <h3 class="title">Login here</h3>
        </div> -->

        <label for="username">Email</label>

        <input type="email"
               name="username"
               id="username"
               autocomplete="username"
               placeholder="Email"
               required>

        <label for="password">Password</label>

        <input type="password"
               name="password"
               id="password"
               autocomplete="password"
               placeholder="********"
               required>

        <button type="submit">
            Login
        </button>

    </form>

</body>

</html>