{% load static %}
<!doctype html>
<html>
    <head>
        <title>Inbox</title>
        <link rel="stylesheet" href="{% static 'chats/css/inbox.css' %}" />
    </head>
    <body>
        <div class="navbar">
            <a href="{% url 'student_dashboard' %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2">
                    <path d="M15 18l-6-6 6-6" />
                </svg>
            </a>

            <h2 class="name">NIIT Connect</h2>

            <div class="notification">
                <a href="notifications.html">
                    <svg width="30" height="30" viewBox="0 0 24 24" fill="none">
                        <path d="M12 2C10 2 8 4 8 6V7C8 10 7 11 5 13V14H19V13C17 11 16 10 16 7V6C16 4 14 2 12 2Z" fill="white" />
                        <circle cx="12" cy="18" r="2" fill="white" />
                    </svg>
                </a>
            </div>

            <div class="profileicon">
                <a href="/accounts/profile/">
                    <svg width="30" height="30" viewBox="0 0 24 24">
                        <circle cx="12" cy="8" r="4" fill="white" />
                        <path d="M4 20c0-4 4-6 8-6s8 2 8 6" fill="white" />
                    </svg>
                </a>
            </div>
        </div>

        <h2>Your Inbox</h2>

        <div class="user-list">
            {% for user in users %}
            <a class="user-card" href="{% url 'chat_room' user.id %}">
                <div class="avatar"></div>

                <div class="info">
                    <strong>{{ user.username }}</strong>
                    <p>Tap to chat</p>
                </div>
            </a>
            {% empty %}
            <p>No users found.</p>
            {% endfor %}
        </div>
    </body>
</html>
