* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background: #f4f4f4;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

.message {
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 5px;
    color: white;
}

.success {
    background: green;
}

.error {
    background: red;
}

.warning {
    background: orange;
}

.container {
    background: white;
    padding: 30px;
    width: 100%;
    max-width: 400px;

    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 20px;
    text-align: center;
}

form p {
    margin-bottom: 15px;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;

    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 12px;

    border: none;
    background: #0d0d4d;
    color: white;

    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #191970;
}

.message {
    background: #d4edda;
    color: #155724;

    padding: 10px;
    margin-bottom: 15px;

    border-radius: 5px;
}

/* ===== MOBILE RESPONSIVENESS ===== */
@media (max-width: 576px) {
    .container {
        padding: 20px;
        margin: 20px;
    }
}
