*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, sans-serif;
  background: #f4f6f9;
}

/* Sidebar */

.sidebar{
  width: 240px;
  height: 100vh;
  background: #0D0D4D;
  position: fixed;
  left: 0;
  top: 0;
  padding: 25px;
  color: white;
}

.logo{
  margin-bottom: 40px;
  font-size: 24px;
}

.menu{
  list-style: none;
}

.menu li{
    margin: 18px 0;
}

.menu a{
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: 0.3s;
}

.menu a:hover{
  color: orange;
  padding-left: 5px;
}

.message{
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
}

.message.success{
    background: #d4edda;
    color: #155724;
}

.message.error{
  background: #f8d7da;
  color: #721c24;
}

.title{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
}

.table-container{
  margin-left: 300px;
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 12px;
   border-bottom: 1px solid #ddd;
  text-align: left;
}

th {
  background: #0D0D4D;
  color: white;
}

.search-form{
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
}

.search-form input{
  width: 300px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 15px;
}

.search-form button{
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  background: #0D0D4D;
  color: white;
  cursor: pointer;
  font-size: 15px;
}

.search-form button:hover{
  background: orange;
}

.btn-reset {
  padding: 6px 10px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 13px;
}



